body {
    background-color: #232323;
    font-family: "Raleway", Sans-serif;
    font-size: 62.5%; /*1 em = 10px */
    margin: 0;
 }
  
 #container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
  
 }
  
 .square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
 }
  
 h1 {
    color: white;
    background-color: #2C8E99;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
 }
  
 #color-display {
    display: block;
    font-size: 8em;
 }
  
 #stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
 